@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Satisfy&display=swap');

:root {
    --primary-color: #000;
    --secondary-color: #fafafa;
    --accent-color: #f88f01;
    --text-heading: 'Satisfy', cursive;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1;

}

html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Baloo 2', cursive;
}

h1, h2 {
    font-family: var(--text-heading);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
}
img{
    width: 100%;
    height: 100%;
}
/* reusables */
.l-head {
    color: var(--secondary-color);
    font-size: 3rem;
}

.l-lead {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 200;
}


/* showcase */
header{
    background: var(--primary-color);
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
    text-align: center;
}

.square {
    position: relative;
    width: 400px;
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.content {
    z-index: 1000;
}

.circle:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.square:hover .circle:nth-child(1) {
    border: none;
    background: rgba(248, 143, 1, 0.6);
}

.circle:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.square:hover .circle:nth-child(2) {
    border: none;
    background: rgba(248, 143, 1, 0.6);
}

.circle:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate2 10s linear infinite;
}

.square:hover .circle:nth-child(3) {
    border: none;
    background: rgba(248, 143, 1, 0.6);
}

/* animating the circles */
@keyframes animate {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);
    }
}

    /* the reverse direction */
@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


/* Navigation */

.menu{
    position: fixed;
    top: 20px;
    right: 100px;
    height: 50px;
    width: 50px;
    text-align: center;
    overflow: hidden;
    transition: all 0.2s ease;
    z-index: 999;
    display: grid;
    place-items: center;
   
}

.menu:hover {
    transform: scale(1.8);
}

.menu.active {
    width: calc(100% - 350px);
    background: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0px 4px 7px rgba(255, 255, 255, 0.18);
    transform: scale(1);
}

.menu.active .menu-content *{
    opacity: 1;
}

.menu.active span i:nth-child(1) {
    transform: rotate(-45deg) translate(-50%, -50%);
    top: 50%;
}

.menu.active span i:nth-child(2) {
    transform: translateX(-100px);
    opacity: 0;
}

.menu.active span i:nth-child(3) {
    transform: rotate(45deg) translate(-50%, -50%);
    top: 50%;
}
    /* the hamburger lines */
.menu span {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 1;
    background: transparent;
    border-radius: 0;

    }

.menu span i {
    position: absolute;
    transform-origin: 50% 50%;
    width: 45%;
    height: 2px;
    left: 0;
    right:0;
    margin: auto;
    background: var(--accent-color);
    transition: transform 0.3s ease, opacity 0.1s ease 0.1s;
}
    /* positioning hanburger lines */
.menu span i:nth-child(1) {
    top: 40%;
}

.menu span i:nth-child(2) {
    top: 50%;
}

.menu span i:nth-child(3) {
    top: 60%;
}

    /* supposed to be the content of the menu */
    .menu .menu-content *{
    opacity: 0; 
}

.menu .menu-content ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.menu .menu-content ul li a{
    display: inline-block;
    margin: 0 50px;
    color: var(--accent-color);
    transition: opacity 0.3s ease 0.3s;
    cursor: pointer;
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
}

.menu .menu-content ul li a:hover::before {
    opacity: 0.8;
    top: 13px;
    left: 20px;
}

.menu .menu-content ul li a:hover::after {
    opacity: 0.8;
    bottom: 13px;
    left: -20px;
}

.menu .menu-content ul li a::before,
.menu-content ul li a::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: var(--accent-color);
    transition: all 0.3s ease;
}

.menu .menu-content ul li a::before {
    transform: rotate(-55deg);
    left: 60px;
    top: -30px;
    opacity: 0;
    right: 0;
    margin: auto;
}

.menu .menu-content ul li a::after {
    transform: rotate(-55deg);
    left: -60px;
    bottom: -30px;
    opacity: 0;
    right: 0;
    margin: auto;
}


/* PROJECTS SECTION */
#projects {
    width:100vw;
    height: auto;
    margin: 20px;
    display: flex;
}


.title {
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.65);
    border-left: 3px wheat solid;
    letter-spacing: 5px;
}

.wrapper {
    margin-left: 10px;
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}



.img-container .content {
    position: relative;
    width: 45%;
    height: 45%;
    background: var(--primary-color);
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.img-container .content h2 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    letter-spacing: 2px;
}

.circle-content {
    position: absolute;
    border: 1px white solid;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.img-container {
    width: 350px;
    height: 350px;
    background: orange url('../images/img.jpg') no-repeat center center/cover;
    display: grid;
    place-items: center;
    margin: 2px;
}