@media screen and (min-width: 700px)  {
    

    header {
        height: 70vh;
    }
    .wrapper {
        width: 100%;
        justify-content: center;
    }

    .img-container:nth-child(odd){
        width:290px;
        height: 290px;
    }
    /* About */
    #about {
        padding: 0;
    }
    #about .about-box {
        flex-direction: column;
    }

    #about .title {
        margin: 20px;
    }

    .about-desc {
        width: 100%
    }

    .picture-box {
        width: 100%;
        left: -47px;
    }
    .up {
        
        display: none;
        
    }
    .down {
        width: 100vw;
        height: 250px;
        bottom: 0;
    }

    .highlights {
        width: 90%;
        bottom: -180px;
    }

    /* Resume */
    #resume {
        margin-top: 300px;
        height: 35vh;
    }


    #contact {
        margin: 400px 0;
        padding: 50px ;
    }

  
}