$primary-color: #adb36e;

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: #cfdac8;
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-start;
    background: darkmagenta;

    ul {
        width: 200px;
        height: 50px;
        background: darkkhaki;
        
        li {
            display: inline-block;
            
            background: $primary-color;
        }
    }
}
.showcase {
    display: flex;
    padding: 20px;
    background: #4a503d;
    color: wheat;
   

    .king {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
        
}

.durian {
    position: relative;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    margin: 20px 0;

    img {
        position: absolute;
    }

   

    
}